@media all and (max-width: 1024px) {

    .en-tete {
        justify-content: space-around;
    }


    /*style du burger*/
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 30px;
        margin: 15px 0 20px 2px;
        cursor: pointer;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: #b81568;
        display: block;
        border-radius: 5px;
        transition: 0.5s ease;
        /*margin-left: -87px;*/
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    /*style du menu*/

    .deconnection {
        display: flex;
    }

    .navigate li a {
        color: #fff;
        text-decoration: none;
    }

    .navigate li a:hover {
        font-weight: bold;
        border-radius: 5px;
        color: #760001;
    }

    nav ul li:hover ul {
        display: none;
    }

    .navigate li {
        /*list-style: none;*/
        padding-bottom: 2%;
    }

    .navigate {
        /*padding: 0;*/
        transition: 0.3s ease;
        display: none;
        /*margin-left: -100px;*/
        min-width: 160px;
    }



    .list_style {
        min-height: 6vh;
        min-width: 15vw;
    }

    .navigation a {
        text-align: left;
    }

    #menu-bar {
        position: absolute;
        top: 0;
        margin-left: -44%;

    }

    .menu-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 0;
        height: 0;
        margin: 20px 0 10px 10px;
        background: radial-gradient(circle, #ee9944, #b8b8b8);
        transition: 0.3s ease;
        border-radius: 50%;
    }

    #menu-bar {
        z-index: 3;
    }

    .change-bg {
        width: 478px;
        height: 635px;
        transform: translate(-40%, -40%);
        opacity: 0.7;
        top: 130px;
    }

    ul .sous-menu {
        margin-top: 4em;
        margin-left: -1px;
        min-width: 30vw;
        padding: 2%;
    }

    ul .sous-menu li .list_style {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        min-height: 5.5vh;
        /*min-width: 25vw;*/
    }

    /*Instruction JS*/
    .change {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        /*padding-bottom: 20%;*/
    }

    .change .bar {
        background-color: blue;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

}
  
  